body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 50px 20px;
	box-sizing: border-box;

}

.grid {
	display: grid;
	/*grid-template-columns: 150px min-content max-content 150px;*/
	grid-template-columns: 150px minmax(100px, 1fr) max-content 150px;
	grid-template-rows: 150px minmax(100px, 1fr) max-content 150px;
}

.grid_element {
	background-color: #f00;
	color: #fff;
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	border: 1px solid #000;
}